.header {
    display: flex;
    gap: 3rem;
    margin: 3rem auto;
    width: 90%;
    max-width: 75rem;
    
  }

  .hero {
    color: #ddd6cb;
    font-size: 1.5rem;
  }
  
  .hero h1 {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    background: linear-gradient(90deg, #f9572a, #ffc905);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }